<mat-card class="welcome__card">
    <mat-card-header class="welcome__card__header">
        <mat-card-title class="welcome__card__title">GiT4N</mat-card-title>
    </mat-card-header>
    <mat-card-content class="welcome__card__text">
        Welcome to Git4n, here you can consult the GitHub repositories 
        of our candidates and employees, hit the button, and log in. Have fun! 
    </mat-card-content>
    <mat-card-actions class="welcome__card__actions">
        <button mat-raised-button (click)="clickLogin()">Login</button>
        <button mat-raised-button (click)="clickSingup()">Sign Up!</button>
    </mat-card-actions>
</mat-card>
